{
   "root":true,
   "env":{
      "browser":true,
      "amd":true,
      "node":true
   },
   "parser":"@typescript-eslint/parser",
   "plugins":[
      "@typescript-eslint",
      "prettier",
      "react",
      "react-hooks",
      "formatjs"
   ],
   "extends":[
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier",
      "prettier/react"
   ],
   "rules":{
      "no-console": 1,
      "prettier/prettier": 2,
      "formatjs/no-offset": 2,
      "no-empty-function": 0,
      "@typescript-eslint/no-empty-function": 1
   },
   // "settings": {
   //    "import/resolver":{
   //       "alias":{
   //          "map":[
   //             ["@", "./src"]
   //          ],
   //          "extensions":[
   //             ".ts",
   //             ".js",
   //             ".jsx",
   //             ".json"
   //          ]
   //       }
   //    }
   // }
}
