/* ------------------------------_form-------------------------- */

.form-label {
    width: 100%;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-label2 {
    width: 100%;
    font-size: 15px;
    line-height: 45px;
    font-weight: 600;
    margin-bottom: 0px;
    position: relative;

    .label-right {
        font-size: 13px;
        position: absolute;
        right: 0;
    }
}

// 充值 下注列表
.method-btn-wrap {
    display: flex;
    flex-wrap: wrap;

    &>div {
        text-align: center;
        cursor: pointer;
        font-size: 13px;
        width: calc((100% - (10px * 3)) / 4);
        margin-right: 10px;
        line-height: 40px;
        margin-bottom: 15px;

        &.flex2 {
            flex: 2;
            margin-right: 0;
        }

        &:nth-child(4),
        &:nth-child(8) {
            margin-right: 0;
        }

        &:active,
        &:hover,
        &.focus {
            border-color: $primary-color;
            color: $primary-color;
            outline: 0;
        }

    }

    .method-input {
        width: 100%;
        height: 45px;
        padding: 15px;
        font-size: 14px;
        color: $base-text-color;
        border: 1px solid $base-bd;
        margin-bottom: 10px;
        outline: none;
        -webkit-appearance: none;

        &::placeholder {
            color: $second-text-color;
        }

        &:first-of-type {
            background: transparent;
            border-radius: 3px 0 0 3px;
        }

        &:last-of-type {
            background: $inputbg;
            border-left: none;
            border-radius: 0 3px 3px 0;
        }
    }
}

.form-group {
    position: relative;
    margin-bottom: 10px;
    clear: both;

    .form-select {
        width: 100%;
        height: 45px;
        padding: 15px;
        font-size: 14px;
        border: 1px solid $base-bd;
        color: $base-text-color;
        border-radius: 3px;
        outline: none;
        position: relative;
        cursor: pointer;

        .placeholder {
            color: $second-text-color;
            position: relative;
            top: -4px;
        }

        .iconfont {
            position: absolute;
            right: 15px;
            color: $light-text-color;
            top: 10px;
        }
    }

    .input-group {
        position: relative;
    }

    input[type="date"] {
        position: relative;
        padding: 10px;
        color: $second-text-color;
        font-size: 13px;
    
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        color: transparent;
        background: none;
        z-index: 1;
    }

    input[type="date"]:before {
        color: transparent;
        background: none;
        display: block;
        font-family: "iconfont";
        content: '\e67b';
        font-size: 20px;
        position: absolute;
        top: 8px;
        right: 15px;
        color: $second-text-color;
    }

    .form-input {
        width: 100%;
        height: 45px;
        padding: 15px;
        font-size: 14px;
        border: 1px solid $base-bd;
        background: $inputbg;
        color: $base-text-color;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        outline: none;
        -webkit-appearance: none;

        &::placeholder {
            color: $second-text-color;
        }

        &:focus {
            border-color: $primary-color;
            box-shadow: 0 0 0 4px #00cdff21 inset;
        }
    }

    .btn_cancel {
        cursor: pointer;
        width: 22px;
        height: 22px;
        font-size: 22px;
        color: $primary-color;
        position: absolute;
        top: 6px;
        right: 10px;
        display: none;
    }

    .captcha {
        font-size: 13px;
        color: $primary-color;
        cursor: pointer;
        position: absolute;
        padding: 4px 10px;
        top: 10px;
        right: 5px;
        border-left: 1px solid $base-bd;

        &:hover {
            color: lighten($primary-color, 10%);
        }
    }

    .btn_eye {
        cursor: pointer;
        width: 22px;
        height: 22px;
        font-size: 22px;
        color: $primary-color;
        position: absolute;
        top: 6px;
        right: 10px;
    }

    small {
        font-size: 13px;
    }

    input[type=checkbox] {
        width: 16px;
        height: 16px;
    }

    .form-check-label {
        font-size: 13px;
    }
}

.form-date-picker{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    .form-input{
        width: 45%;
    }
    span{
        width: 10%;
        text-align: center;
    }
}