/* ------------------------------_slide-up-------------------------- */

.mask {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: .5;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    transition: opacity 1s ease 0s;
    z-index: 15;
    display: none;
}

.slide-up-section {
    background: #fff;
    position: fixed;
    top: auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 15;
    transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transform: translateY(460px);
    -webkit-transform: translateY(460px);
    -moz-transform: translateY(460px);
    -ms-transform: translateY(460px);
    -o-transform: translateY(460px);

    &.slide-up {
        @include box-shadow;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    .title-col {
        height: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        @include border-bottom;
        font-size: 18px;
        line-height: 50px;
        text-align: center;
        position: relative;

        .close_btn {
            position: absolute;
            right: 4%;
            top: 0;
            color: $light-text-color;
            cursor: pointer;
        }
    }

    .content-col {
        min-height: 410px;

        .item-btn {
            width: 100%;
            line-height: 55px;
            display: block;
            color: $base-text-color;
            position: relative;

            &::after {
                content: '';
                height: 1px;
                background: $base-bd;
                position: absolute;
                bottom: 0;
                left: -4%;
                right: -4%;
            }

            &:hover {
                color: $primary-color;
            }

        }
    }
}

// Boostrap modals
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal-open {
    position: fixed;
    height: 100%;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    content: "";
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.modal-header {
    text-align: center;
    padding: 0;
    height: 52px;

    .icon_btn:first-of-type {
        position: absolute;
        left: 0;

        .iconfont {
            color: $primary-color;
            padding: 1rem;
            font-size: 20px;
        }
    }


    h5 {
        margin-bottom: 0;
        font-size: 18px;
    }

    .close {
        position: absolute;
        right: 0;
        font-size: 28px;

        &:hover {
            outline: none;
        }
    }
}

.modal-body {
    font-size: 14px;
    letter-spacing: 1px;
}

// 聯盟篩選
.main-sort-col {
    margin-bottom: 25px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        align-items: center;

        input {
            width: 16px;
            height: 16px;
            margin-right: 5px;
        }
    }

}

.league-filter {
    width: 100%;
    height: auto;
}

.check-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .check-item {
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        input {
            width: 16px;
            height: 16px;
            margin-right: 5px;

        }
    }
}

// 交易明細排行
.vol-list {
    .vol-list-item {
        position: relative;
        display: flex;
        align-items: center;

        .data_1 {
            width: 10%;
            float: left;
        }

        .data_2 {
            width: 60%;
            float: left;
        }

        .data_3 {
            width: 30%;
            float: left;
            padding-left: 10px;

        }

    }
}

