/* ------------------------------_typography-------------------------- */

html,
body,
h1,
h2,
h3,
h4,
h5,
p,
span,
input,
button,
a,
label,
select,
textarea,
th,
td {
    font-family: $font-family--text;
    font-weight: 400;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol{
    margin: 0;
    padding: 0;
}
a:hover {
    text-decoration: none;
}
.ft-13 {
    font-size: 13px;
}
.ft-14 {
    font-size: 14px;
}

.ft-15 {
    font-size: 15px;
}

.ft-16 {
    font-size: 16px;
}
.lh-16{
    line-height: 1.6;
}

.text-lighgray {
    color: $light-text-color;  
}

.text-red {
    color: $red-color;
}

.text-green {
    color: $green-color;
}

.text-blue {
    color: $primary-color;
}

.text-yellow {
    color: $yellow-color;
}

