// text color
$base-text-color: #4A5359;
$second-text-color: #A4A9AC;
$light-text-color: #ABBED3;
$primary-color: #00CDFF;
$primary-gradient:linear-gradient(90deg, #00DCFF 0%, #00C2FF 100%);
$red-color: #F54C40;

$green-color: #52C94B;
$yellow-color: #F9AD0A;
// background color
$graybg: #F4F4F9;
$inputbg: #f2f2f2;
$light-redbg: #FFF4F3;
// border color
$base-bd:#EBEBEB;

// font
$font-family--text: "微软雅黑", "Microsoft YaHei", "Segoe UI", Arial, Helvetica, "Segoe UI", sans-serif;

